/A8888.XDCE_1daybar.csv
/AG8888.XSGE_1daybar.csv
/AL8888.XSGE_1daybar.csv
/AP8888.XZCE_1daybar.csv
/AU8888.XSGE_1daybar.csv
/B8888.XDCE_1daybar.csv
/BB8888.XDCE_1daybar.csv
/BU8888.XSGE_1daybar.csv
/C8888.XDCE_1daybar.csv
/CF8888.XZCE_1daybar.csv
/CJ8888.XZCE_1daybar.csv
/CS8888.XDCE_1daybar.csv
/CU8888.XSGE_1daybar.csv
/CY8888.XZCE_1daybar.csv
/EG8888.XDCE_1daybar.csv
/FB8888.XDCE_1daybar.csv
/FG8888.XZCE_1daybar.csv
/FU8888.XSGE_1daybar.csv
/GN8888.XZCE_1daybar.csv
/HC8888.XSGE_1daybar.csv
/I8888.XDCE_1daybar.csv
/IC8888.CCFX_1daybar.csv
/IF8888.CCFX_1daybar.csv
/IH8888.CCFX_1daybar.csv
/J8888.XDCE_1daybar.csv
/JD8888.XDCE_1daybar.csv
/JM8888.XDCE_1daybar.csv
/JR8888.XZCE_1daybar.csv
/L8888.XDCE_1daybar.csv
/LR8888.XZCE_1daybar.csv
/M8888.XDCE_1daybar.csv
/M8888.XDCE_testnoise.csv
/MA8888.XZCE_1daybar.csv
/ME8888.XZCE_1daybar.csv
/NI8888.XSGE_1daybar.csv
/ER8888.XZCE_1daybar.csv
/OI8888.XZCE_1daybar.csv
/P8888.XDCE_1daybar.csv
/PB8888.XSGE_1daybar.csv
/PM8888.XZCE_1daybar.csv
/PP8888.XDCE_1daybar.csv
/SC8888.XINE_1daybar.csv
/SF8888.XZCE_1daybar.csv
/RB8888.XSGE_1daybar.csv
/RB8888.XSGE_testnoise.csv
/RI8888.XZCE_1daybar.csv
/RM8888.XZCE_1daybar.csv
/RO8888.XZCE_1daybar.csv
/RS8888.XZCE_1daybar.csv
/RU8888.XSGE_1daybar.csv
/SM8888.XZCE_1daybar.csv
/SN8888.XSGE_1daybar.csv
/SP8888.XSGE_1daybar.csv
/SR8888.XZCE_1daybar.csv
/T8888.CCFX_1daybar.csv
/TA8888.XZCE_1daybar.csv
/TC8888.XZCE_1daybar.csv
/TF8888.CCFX_1daybar.csv
/TS8888.CCFX_1daybar.csv
/V8888.XDCE_1daybar.csv
/WH8888.XZCE_1daybar.csv
/WR8888.XSGE_1daybar.csv
/WS8888.XZCE_1daybar.csv
/WT8888.XZCE_1daybar.csv
/Y8888.XDCE_1daybar.csv
/ZC8888.XZCE_1daybar.csv
/ZN8888.XSGE_1daybar.csv
