/allcapweights.csv
/allhcweights.csv
/devcapweights.csv
/devhcweights.csv
/etfvssharesbreakeven.csv
/etfvssharesbreakevenwithtrading.csv
/MSCI_data.csv
/MSCI_ref.csv
/MSCIWorldweights.csv
/MSCIWorldweights.ods
/MSCIWorldweights_US_Nonus.csv
/sectorreturns  .csv
/sectorreturns.csv
/Untitled 2.ods
/USmonthlyreturns.csv
/USmonthlyreturns.ods
/USrealreturns.csv
/USrealreturnsADJ.csv
/XIU_holdings1.csv
/XIU_holdings2.csv
/XIU_holdings3.csv
/XIU_holdings.csv
/XIU_holdings.ods
