/MonthlyRange_new.csv
/MonthlyRange_old.csv
/MonthlyRange_semiold.csv
/MonthlyRange_verynew.csv
/QtrRange_new.csv
/QtrRange_old.csv
/QtrRange_semiold.csv
/QtrRange_semiold_std.csv
/QtrRange_verynew.csv
/pn2_years.h5
/ma_atr.csv
