/random0.csv
/random1.csv
/random10.csv
/random11.csv
/random12.csv
/random13.csv
/random14.csv
/random15.csv
/random16.csv
/random17.csv
/random18.csv
/random19.csv
/random2.csv
/random20.csv
/random21.csv
/random22.csv
/random23.csv
/random24.csv
/random25.csv
/random26.csv
/random27.csv
/random28.csv
/random29.csv
/random3.csv
/random30.csv
/random31.csv
/random32.csv
/random33.csv
/random34.csv
/random35.csv
/random36.csv
/random37.csv
/random38.csv
/random39.csv
/random4.csv
/random40.csv
/random41.csv
/random42.csv
/random43.csv
/random44.csv
/random45.csv
/random46.csv
/random47.csv
/random48.csv
/random49.csv
/random5.csv
/random50.csv
/random51.csv
/random52.csv
/random53.csv
/random54.csv
/random55.csv
/random56.csv
/random57.csv
/random58.csv
/random59.csv
/random6.csv
/random60.csv
/random61.csv
/random62.csv
/random63.csv
/random64.csv
/random65.csv
/random66.csv
/random67.csv
/random68.csv
/random69.csv
/random7.csv
/random70.csv
/random71.csv
/random72.csv
/random73.csv
/random74.csv
/random75.csv
/random76.csv
/random77.csv
/random78.csv
/random79.csv
/random8.csv
/random80.csv
/random81.csv
/random82.csv
/random83.csv
/random84.csv
/random85.csv
/random86.csv
/random87.csv
/random88.csv
/random89.csv
/random9.csv
/random90.csv
/random91.csv
/random92.csv
/random93.csv
/random94.csv
/random95.csv
/random96.csv
/random97.csv
/random98.csv
/random99.csv
/assetprices.csv
/handcraftweights.csv
