/AEX_carrydata.csv
/AEX_price.csv
/AUD_carrydata.csv
/AUD_price.csv
/BOBL_carrydata.csv
/BOBL_price.csv
/BTP_carrydata.csv
/BTP_price.csv
/BUND_carrydata.csv
/BUND_price.csv
/CAC_carrydata.csv
/CAC_price.csv
/COPPER_carrydata.csv
/COPPER_price.csv
/CORN_carrydata.csv
/CORN_price.csv
/CRUDE_W_carrydata.csv
/CRUDE_W_price.csv
/EDOLLAR_carrydata.csv
/EDOLLAR_price.csv
/EUROSTX_carrydata.csv
/EUROSTX_price.csv
/EUR_carrydata.csv
/EUR_price.csv
/GAS_US_carrydata.csv
/GAS_US_price.csv
/GBP_carrydata.csv
/GBP_price.csv
/GOLD_carrydata.csv
/GOLD_price.csv
/JPY_carrydata.csv
/JPY_price.csv
/KOSPI_carrydata.csv
/KOSPI_price.csv
/KR10_carrydata.csv
/KR10_price.csv
/KR3_carrydata.csv
/KR3_price.csv
/LEANHOG_carrydata.csv
/LEANHOG_price.csv
/LIVECOW_carrydata.csv
/LIVECOW_price.csv
/MXP_carrydata.csv
/MXP_price.csv
/NASDAQ_carrydata.csv
/NASDAQ_price.csv
/NZD_carrydata.csv
/NZD_price.csv
/OAT_carrydata.csv
/OAT_price.csv
/PALLAD_carrydata.csv
/PALLAD_price.csv
/PLAT_carrydata.csv
/PLAT_price.csv
/SHATZ_carrydata.csv
/SHATZ_price.csv
/SMI_carrydata.csv
/SMI_price.csv
/SOYBEAN_carrydata.csv
/SOYBEAN_price.csv
/SP500_carrydata.csv
/SP500_price.csv
/US10_carrydata.csv
/US10_price.csv
/US2_carrydata.csv
/US2_price.csv
/US5_carrydata.csv
/US5_price.csv
/US20_carrydata.csv
/US20_price.csv
/V2X_carrydata.csv
/V2X_price.csv
/VIX_carrydata.csv
/VIX_price.csv
/WHEAT_carrydata.csv
/WHEAT_price.csv
